<div class='geo-body bg-light col-sm-10' id='geo-section'>
    <div class='container geo-viewer'>
        <div class='text-viewer-title'>
            <h4>Geo Tool</h4>
        </div>
        <p class='light-text'>
            Upload a .json file from the file scraper containing GPS Coordinates as regular expression matches</br>
            This will return a .kml file suited for google earth
        </p>
        <div class='card'>
            <div class='card-body'>
                <p>Goodinate Format</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="latLong" value="option1" checked/>
                    <label class="form-check-label light-text" for="latLong">Latitue, Longitude (eg. N 29.45022, W -98.69648)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="longLat" value="long-lat"/>
                    <label class="form-check-label light-text" for="longLat">Longitude, Latutide (eg. W -98.69648, N 29.45022)</label>
                </div></br>
                <form id='geo-file-form' enctype='multipart/form-data' class='d-flex justify-content-center'>
                    <div class='p-2'>
                        <input type='file' class='form-control' id='geo-file' name='geoFile' accept='.json' style='margin-bottom: 6px;'/>
                    </div>
                    <div class='p-2'>
                        <button class='btn btn-secondary' id='btn-geo-file-clear' type='button'>Clear</button>
                    </div>
                    <div class='p-2 spinner-border geo-spinner' role='status'>
                        <span class='sr-only'>Loading...</span>
                    </div>
                </form>
                <button class='btn btn-primary' id='btn-geo-start'>
                    <i class="fa fa-play"></i>
                    <span class='hidden-xs'>Start</span>
                </button>
            </div>
        </div>
    </div>
</div>