<div class='main d-flex justify-content-center w-100'>
    <div class='col-sm-1 w-100 nav-section'>
        <%- include('../partials/main/nav.ejs') %>
    </div>
    <div class='col-7 viewer bg-light'>
        <%- include('../partials/main/viewer.ejs') %>
    </div>
    <div class='col-4 inputs bg-light'>
        <%- include('../partials/main/input.ejs') %>
    </div>
</div>