<div class='col-sm-6 viewer bg-light main'>
    <%- include('../partials/main/viewer.ejs') %>
</div>
<div class='col-sm-4 inputs bg-light main' style='padding: 20px;'>
    <%- include('../partials/main/input.ejs') %>
</div>