<div class='nav-section col-sm-1'>
    <ul>
        <li id='btn-main-nav'>
            <i class="fa fa-search"></i>
        </li>
        <li id='btn-geo-nav'>
            <i class="fa fa-globe"></i>
        </li>
        <li id='btn-info-nav'>
            <i class="fa fa-info"></i>
        </li>
    </ul>
</div>