<div class="ribbon">
    <span class="ribbon-title d-flex justify-content-center w-100">Site Map</span>
    <div class="d-flex justify-content-center w-100" style="background-color: #f0f0f0;">
        <p>
            Scrape 
            <a href="https://en.wikipedia.org/wiki/PDF" target='_blank'>pdf</a>,
            <a href="https://fileinfo.com/extension/docx" target='_blank'>docx</a>,
            <a href="https://fileinfo.com/extension/txt" target='_blank'>txt</a>,
            & <a href="https://fileinfo.com/extension/kmz" target='_blank'>kmz</a> files to compile a <a href="https://developers.google.com/kml" target='_blank'>kml</a>
            file suited for <a href="https://earth.google.com/web/" target='_blank'>Google Earth</a>
        </p>
    </div>
</div>