<div class='collapse' id='input-<%- tId %>-data'>
    <div class='card card-body bg-secondary' style='border-top-left-radius: 0px; border-top-right-radius: 0px; padding: 0.5rem !important;'>
        <div id='list-group-<%- tId %>' class='list-group'>
        </div>
    </div>
</div>