.main {
  text-align: center;
}

.nav-section {
	height: 100%;
	padding-right: 0 !important;
	ul {
		list-style-type: none;
		color: white;
		width: 100%;
		padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
	}

	li {
		display: block;
		color: white;
		text-decoration: none;
		width: 100%;
		padding: 30%;
	}

	/* Change the link color on hover */
	li:hover {
		background-color: #666;
		color: white;
	}
}

.viewer {
	padding-top: 12px;
	min-height: 610px;
	.text-viewer-text {
			max-height: 600px;
			border-radius: 8px;
			padding: 16px;
			#text-view {
					overflow-y: scroll;
					word-wrap: break-word
			}
	}
	.viewer-file-upload {
			background-color: rgb(240, 240, 240);
			border-radius: 4px;
			margin: 12px 50px 12px 50px;
			padding: 20px;
			box-shadow: 0 8px 8px 1px #aaa;
	}
	.scraper-spinner {
			height: 15px;
			width: 15px;
	}
}

.inputs {
	// border-left: 2px solid #cdcdcd;
	padding-top: 12px;
	padding-bottom: 20px;
	.input-body {
		.toggle-visibility {
				height: 100%;
				width: 20px;
		}
		.input-card {
				margin-top: 20px;
				box-shadow: 0 8px 8px 1px #aaa;
				padding-bottom: 0px;
				padding-right: 0px;
				padding-left: 0px;
		}
	}
}

.light-text {
	font-weight: 300;
	color: #666;
}

.toast-container {
    position: fixed;
    z-index: 1000;
    right: 12px;
    bottom: 12px;
    .toast {
        background-color: #343E3D !important;
        color: white;
        border-radius: 4px !important;
        opacity: 1.0 !important;
        min-width: 400px !important;
        padding-left: 20px;
        padding-right: 20px;
        .toast-header {
            color: white;
            background-color: inherit !important;
            display: block !important;
            text-align: left !important;
        }
        .toast-body {
            background-color: inherit !important;
        }
    }
}

.geo-body {
	.geo-spinner {
		height: 15px;
		width: 15px;
	}
	padding-top: 20px;
	display: none;
	text-align: center;
	min-height: 593px;
}

.info-body {
	display: none;
	text-align: center;
	min-height: 593px;
}
