.ribbon {
  justify-content: center;
  text-align: center;
  margin: auto;
  font-weight: 300;
  color: #666;
  background-color: #f0f0f0;
  .ribbon-title {
    font-size: 1.8em;
    color: #555;
    font-weight: 500;
    padding: 14px;
  }
}